.frame-whole {
  /* background-color: darkgreen; */
  background-color: #ede8dd;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.frame-whole .cover {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #ede8dd;
  /* background-color: darkblue; */
}

.cover .image-24 {
  width: 15.08%;
  top: 555px;
  left: 0;
  height: 269px;
  aspect-ratio: 0.81;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-23 {
  width: 13.09%;
  top: 843px;
  left: 30.22%;
  height: 308px;
  aspect-ratio: 0.76;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-2 {
  width: 29.03%;
  top: 559px;
  left: 4.44%;
  height: 322px;
  aspect-ratio: 1.3;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-3 {
  width: 14.72%;
  top: 819px;
  left: 53.84%;
  height: 167px;
  aspect-ratio: 1.27;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-4 {
  width: 14.72%;
  top: 906px;
  left: 84.40%;
  height: 200px;
  aspect-ratio: 1.27;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-25 {
  position: absolute;
  width: 13.01%;
  top: 743px;
  left: 40.19%;
  height: 245px;
  mix-blend-mode: luminosity;
  aspect-ratio: 0.76;
  object-fit: cover;
}

.cover .image-5 {
  width: 13.68%;
  top: 770px;
  left: 0;
  height: 268px;
  aspect-ratio: 0.74;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-6 {
  width: 10.63%;
  top: 283px;
  left: 18.43%;
  height: 214px;
  aspect-ratio: 0.77;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-7 {
  width: 10.40%;
  top: 934px;
  left: 14.09%;
  height: 126px;
  aspect-ratio: 1.5;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-8 {
  width: 11.15%;
  top: 1px;
  left: 0;
  height: 241px;
  aspect-ratio: 0.77;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-9 {
  width: 12.81%;
  top: 785px;
  left: 29.17%;
  height: 193px;
  aspect-ratio: 1.3;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-10 {
  width: 14.79%;
  top: 856px;
  left: 21.16%;
  height: 217px;
  aspect-ratio: 0.98;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-11 {
  width: 13.31%;
  top: 729px;
  left: 10.64%;
  height: 250px;
  aspect-ratio: 0.77;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-12 {
  width: 13.31%;
  top: 876px;
  left: 70.77%;
  height: 277px;
  aspect-ratio: 0.77;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-13 {
  width: 14.51%;
  top: 144px;
  left: 0;
  height: 318px;
  aspect-ratio: 0.75;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-14 {
  width: 16.79%;
  top: 395px;
  left: 25.07%;
  height: 313px;
  aspect-ratio: 0.77;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-15 {
  width: 22.32%;
  top: 690px;
  left: 24.38%;
  height: 198px;
  aspect-ratio: 1.62;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-16 {
  width: 11.83%;
  top: 578px;
  left: 34.18%;
  height: 249px;
  aspect-ratio: 0.77;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-17 {
  width: 16.82%;
  top: 203px;
  left: 5.80%;
  height: 334px;
  aspect-ratio: 0.77;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-18 {
  width: 8.38%;
  top: 854px;
  left: 28.54%;
  height: 80px;
  aspect-ratio: 1.5;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-19 {
  width: 21.28%;
  top: 383px;
  left: 0;
  height: 204px;
  aspect-ratio: 1.5;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-20 {
  width: 14.13%;
  top: 838px;
  left: 57.32%;
  height: 315px;
  aspect-ratio: 0.8;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-21 {
  width: 11.09%;
  top: 880px;
  left: 46.65%;
  height: 252px;
  aspect-ratio: 0.74;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .image-22 {
  width: 10.13%;
  top: 877px;
  left: 45.41%;
  height: 133px;
  aspect-ratio: 1.5;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.cover .passport {
  position: absolute;
  top: 298px;
  left: 4px;
  width: 196px;
  height: 163px;
  mix-blend-mode: luminosity;
  aspect-ratio: 1.3;
  object-fit: cover;
}

.cover .div {
  position: absolute;
  top: 676px;
  left: 175px;
  width: 181px;
  height: 253px;
  transform: rotate(-26.35deg);
}

.cover .passport-img {
  top: -27px;
  left: -47px;
  width: 274px;
  height: 307px;
  mix-blend-mode: luminosity;
  aspect-ratio: 0.71;
  object-fit: cover;
  position: absolute;
  transform: rotate(26.35deg);
}

.cover .passport-vec {
  top: 5px;
  left: -16px;
  width: 210px;
  height: 233px;
  position: absolute;
  transform: rotate(26.35deg);
}

.cover .hand {
  position: absolute;
  top: 676px;
  left: 614px;
  width: 235px;
  height: 157px;
  transform: rotate(-10.93deg);
}

.cover .hand-img {
  position: absolute;
  top: -21px;
  left: -13px;
  width: 261px;
  height: 199px;
  transform: rotate(10.93deg);
  aspect-ratio: 1.5;
  object-fit: cover;
}

.cover .hand-vec {
  position: absolute;
  top: 8px;
  left: -16px;
  width: 199px;
  height: 126px;
  transform: rotate(10.93deg);
}

.cover .passport-2 {
  position: absolute;
  top: 805px;
  left: 257px;
  width: 206px;
  height: 111px;
  transform: rotate(69.83deg);
}

.cover .passport-img-2 {
  top: -60px;
  left: 15px;
  width: 175px;
  height: 232px;
  aspect-ratio: 1.86;
  object-fit: cover;
  position: absolute;
  transform: rotate(-69.83deg);
}

.cover .passport-vec-2 {
  top: -7px;
  left: 53px;
  width: 100px;
  height: 128px;
  position: absolute;
  transform: rotate(-69.83deg);
}

.cover .clock {
  position: absolute;
  top: 512px;
  left: 554px;
  width: 93px;
  height: 104px;
  aspect-ratio: 0.89;
  object-fit: cover;
}

.cover .bulb {
  position: absolute;
  top: 0;
  left: 121px;
  width: 86px;
  height: 93px;
  aspect-ratio: 0.64;
  object-fit: cover;
}

.cover .people {
  top: 729px;
  left: 966px;
  width: 78px;
  height: 131px;
  aspect-ratio: 0.57;
  position: absolute;
  object-fit: cover;
}

.cover .people-2 {
  top: 303px;
  left: 514px;
  width: 115px;
  height: 152px;
  aspect-ratio: 0.74;
  position: absolute;
  object-fit: cover;
}

.cover .step {
  top: 333px;
  left: 53px;
  width: 443px;
  height: 37px;
  aspect-ratio: 11.97;
  position: absolute;
  object-fit: cover;
}

.cover .ban {
  position: absolute;
  top: 457px;
  left: 119px;
  width: 109px;
  height: 109px;
}

.cover .ban-2 {
  position: absolute;
  top: 319px;
  left: 44px;
  width: 154px;
  height: 154px;
}

.cover .step-2 {
  top: 831px;
  left: 852px;
  width: 525px;
  height: 81px;
  aspect-ratio: 17.5;
  position: absolute;
  object-fit: cover;
}

.cover .step-3 {
  top: 778px;
  left: 544px;
  width: 372px;
  height: 84px;
  aspect-ratio: 11.24;
  position: absolute;
  object-fit: cover;
}

.cover .bam {
  position: absolute;
  top: 846px;
  left: 1068px;
  width: 158px;
  height: 141px;
}

.cover .step-4 {
  top: 628px;
  left: 322px;
  width: 444px;
  height: 73px;
  aspect-ratio: 14.77;
  position: absolute;
  object-fit: cover;
}

.cover .step-5 {
  top: 569px;
  left: 95px;
  width: 397px;
  height: 70px;
  aspect-ratio: 10.13;
  position: absolute;
  object-fit: cover;
}

.cover .passport-3 {
  position: absolute;
  top: 407px;
  left: 151px;
  width: 314px;
  height: 209px;
  transform: rotate(-28.41deg);
}

.cover .passport-img-3 {
  top: -62px;
  left: -31px;
  width: 376px;
  height: 333px;
  aspect-ratio: 1.5;
  object-fit: cover;
  position: absolute;
  transform: rotate(28.41deg);
}

.cover .passport-vec-3 {
  top: 30px;
  left: 40px;
  width: 230px;
  height: 155px;
  position: absolute;
  transform: rotate(28.41deg);
}

.cover .step-6 {
  top: 208px;
  left: 18px;
  width: 341px;
  height: 33px;
  aspect-ratio: 13.64;
  position: absolute;
  object-fit: cover;
}

.cover .step-7 {
  top: 79px;
  left: 4px;
  width: 235px;
  height: 28px;
  aspect-ratio: 10.07;
  position: absolute;
  object-fit: cover;
}

.cover .step-8 {
  top: 270px;
  left: 28px;
  width: 292px;
  height: 70px;
  aspect-ratio: 8.76;
  position: absolute;
  object-fit: cover;
}

.cover .people-3 {
  top: 121px;
  left: 231px;
  width: 62px;
  height: 137px;
  aspect-ratio: 0.45;
  position: absolute;
  object-fit: cover;
}

.cover .clock-vec-wrapper {
  position: absolute;
  top: 84px;
  left: 0;
  width: 176px;
  height: 239px;
  display: flex;
  background-image: url(./img/clock-1-img.png);
  background-size: cover;
  background-position: 50% 50%;
}

.cover .clock-vec {
  margin-top: 9.6px;
  width: 149.07px;
  height: 224.54px;
  margin-left: 27.0px;
}

/* Title */
.frame-whole .title-group {
  position: absolute;
  top: 70px;
  right: 5%;
  width: 55%;
  margin-top: 80px;
  text-align: right;
}

.frame-whole .VISA-shutdown {
  text-align: right;
  width: 100%;
  margin-left: auto;
  margin-right: 50px;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  /* color: transparent; */
  font-size: var(--h1-font-size);
  text-align: right;
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.frame-whole .VISA-shutdown .text-wrapper {
  color: #b22420;
}

.frame-whole .VISA-shutdown .span {
  color: #333333;
}

.frame-whole .subtitle {
  width: 100%;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 20px;
  font-family: "Noto Sans-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 35px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.frame-whole .text-wrapper-2 {
  width: 100%;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 10px;
  font-family: "Noto Sans-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.frame-whole .part {
  width: 100%;
  height: max-content;
  display: flex;
  background-color: #ede8dd;
  /* background: pink; */
}

.frame-whole .article {
  margin-top: 120px;
  width: 60%;
  height: max-content;
  margin: auto;
  font-family: Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1.4;
  text-align: justify;
  /* background-color: plum; */
}

.frame-whole .chart {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: lightblue; */
  height: max-content;
}

#chart-2 {
  width: 500px;
}

.ending {
  width: 100%;
  height: 30vh;
  margin-top: 100px;
  background-color: #ede8dd;
}

.footer p {
  text-align: center;
  font-size: 14px;
  color: #333333;
}
